<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.hyprmx.android" android:versionName="1.0" android:versionCode="1" android:installLocation="preferExternal">
<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="25" />
  <application>
        <activity android:name="com.tapdaq.adapters.TMHyprMXActivity"/>
        <activity
            android:name="com.hyprmx.android.sdk.activity.HyprMXOfferViewerActivity"
            android:hardwareAccelerated="true"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:label="HyprMX SDK"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
            android:name="com.hyprmx.android.sdk.activity.HyprMXRequiredInformationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
            android:name="com.hyprmx.android.sdk.activity.HyprMXNoOffersActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
            android:name="com.hyprmx.android.sdk.videoplayer.HyprMXVideoPlayerActivity"
            android:hardwareAccelerated="true"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
  </application>

</manifest>
