<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youappi.sdk"
    android:versionCode="1"
    android:versionName="4.0.4" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:label="@string/app_name" >
        <activity
            android:name="com.youappi.sdk.AdActivity"
            android:configChanges="screenSize|orientation" />
    </application>

</manifest>