<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.playableads" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="25" />

    <application>
        <activity
            android:name="com.playableads.activity.PlayableADActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <receiver android:name="com.playableads.PlayableReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver> <!-- Include the AdActivity and InAppPurchaseActivity configChanges and themes. -->
    </application>

</manifest>
