<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.applovin.sdk" android:versionName="1.0" android:versionCode="1" android:installLocation="preferExternal">

	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="28" />

	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application>
      <activity
      android:name="com.applovin.adview.AppLovinInterstitialActivity"
      android:configChanges="orientation|screenSize"
      android:hardwareAccelerated="true"
      android:screenOrientation="behind" />
      <activity
      android:name="com.applovin.sdk.AppLovinWebViewActivity"
      android:configChanges="keyboardHidden|orientation|screenSize" />
      <activity
      android:name="com.applovin.mediation.MaxDebuggerActivity"
      android:configChanges="keyboardHidden|orientation|screenSize"
      android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
      <activity
      android:name="com.applovin.mediation.MaxDebuggerDetailActivity"
      android:configChanges="keyboardHidden|orientation|screenSize"
      android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
  </application>

</manifest>
